[project]
	description = A set of scripts for creating Fuel cluster
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Vitaly Gusev (vitalygusev)
[access "refs/for/refs/*"]
	read = group user/Vitaly Gusev (vitalygusev)
	push = group user/Vitaly Gusev (vitalygusev)
	label-Code-Review = -2..+2 group user/Vitaly Gusev (vitalygusev)
	label-Verified = -1..+1 group user/Vitaly Gusev (vitalygusev)
	rebase = group user/Vitaly Gusev (vitalygusev)
	removeReviewer = group user/Vitaly Gusev (vitalygusev)
	submit = group user/Vitaly Gusev (vitalygusev)
[access "refs/heads/*"]
	read = group user/Vitaly Gusev (vitalygusev)
	create = group user/Vitaly Gusev (vitalygusev)
	push = +force group user/Vitaly Gusev (vitalygusev)
	pushMerge = group user/Vitaly Gusev (vitalygusev)
[access "refs/tags/*"]
	push = +force group user/Vitaly Gusev (vitalygusev)
	pushTag = group user/Vitaly Gusev (vitalygusev)
	pushSignedTag = group user/Vitaly Gusev (vitalygusev)
